div.colored > div:nth-child(1) {
  background-color: #009688;
}

div.colored > div:nth-child(2) {
  background-color: #3949ab;
}
div.colored > div:nth-child(3) {
  background-color: #9c27b0;
}

div.colored > div:nth-child(4) {
  background-color: #03a9f4;
}

div.colored > div:nth-child(5) {
  background-color: #c9954e;
}
div.colored > div:nth-child(6) {
  background-color: #ff5722;
}

div.colored > div:nth-child(7) {
  background-color: #8bc34a;
}

div.colored > div:nth-child(8) {
  background-color: #c9954e;
}
div.colored > div:nth-child(9) {
  background-color: #ff5722;
}

.box{
  height:200px;
}
